$yaru-dark-gray: #2c2c2c;
$yaru-light-gray: #49474785;

.events-wrapper {
  height: 10em;
  padding: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  overflow-x: hidden;

  li {
    white-space: normal; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

    word-break: break-all;
    list-style: none;

    a {
      color: white;
      text-decoration: none;
    }
  }
}
