$yaru-dark-gray: #2c2c2c;
$yaru-light-gray: #49474785;

button {
  font-size: 1em;
  background-color: inherit;
  color: white;
  border: none;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  overflow: scroll;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  border: 1px solid black;
  background-color: $yaru-dark-gray;
  position: absolute;
  top: 3em;
}

span {
  display: block;

  border-radius: 5px;
  background-color: $yaru-light-gray;
  width: 90%;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 1em;
}
